@model PlataformaIEB.Models.ListaValores

@Html.HiddenFor(model => model.ConsultaID)

@Html.HiddenFor(model => model.VariavelID)


<div class="form-group form-row">
    @Html.Label(Model.Variavel.Nome, new { @class = "control-label col-lg-10 text-danger" })
    <div class="row">
        <div class=" col">
            @Html.LabelFor(a => a.Valor, new { @class = "control-label" })
            @Html.EditorFor(m => m.Valor, new { @class = "form-control" })
            <span class="help-block">
                @Html.ValidationMessageFor(m => m.Valor, "", new { @class = "text-danger" })
            </span>
        </div>
        <div class=" col">
            @Html.LabelFor(a => a.Confianca, new { @class = "control-label" })
            @Html.EditorFor(m => m.Confianca, new { @class = "form-control" })
            <span class="help-block">
                @Html.ValidationMessageFor(m => m.Confianca, "", new { @class = "text-danger" })
            </span>
        </div>
    </div>
</div>



   



