@model PlataformaIEB.Models.Clinico


<div class="form-group">
    @Html.LabelFor(m => m.Telarca)
    @Html.CheckBoxFor(m => m.Telarca, new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Telarca)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IdadeMenarcaMae)
    @Html.CheckBoxFor(m => m.IdadeMenarcaMae, new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.IdadeMenarcaMae)
    </span>
</div>
