@model PlataformaIEB.Models.Medico


<div class="form-group">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Nome)
    @Html.EditorFor(m => m.Nome, new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Nome)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.CRM)
    @Html.EditorFor(m => m.CRM, new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.CRM)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Email)
    </span>
</div>
