@model PlataformaIEB.Models.Paciente

<div class="form-group">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
</div>

<div class="form-group">
    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(m => m.Nome)
        </div>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.Nome)
        </div>
        <span id="helpBlock2" class="help-block">
            @Html.ValidationMessageFor(m => m.Nome)
        </span>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Sexo)
    @Html.DropDownListFor(m => m.Sexo, new SelectList(ViewBag.Sexo), "Selecione o sexo ...", new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Sexo)
    </span>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-sm-1">
            @Html.EditorFor(m => m.Email)
        </div>
        <span id="helpBlock2" class="help-block">
            @Html.ValidationMessageFor(m => m.Email)
        </span>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(m => m.Nascimento)
        </div>
        <div class="col-sm-1">
            @Html.EditorFor(m => m.Nascimento)
        </div>
        <span id="helpBlock2" class="help-block">
            @Html.ValidationMessageFor(m => m.Nascimento)
        </span>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(m => m.Responsavel)
        </div>
        <div class="col-sm-1">
            @Html.EditorFor(m => m.Responsavel)
        </div>
        <span id="helpBlock2" class="help-block">
            @Html.ValidationMessageFor(m => m.Responsavel)
        </span>
    </div>
</div>