@model PlataformaIEB.Models.Diagnostico
@{
    ViewBag.Title = "Diagnostico";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Diagnostico</h2>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col col-lg-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Comentario)
                @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control" })
                <span id="helpBlock2" class="help-block">
                    @Html.ValidationMessageFor(m => m.Comentario)
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Diagnosticado)
                @Html.TextAreaFor(m => m.Diagnosticado, new { @class = "form-control" })
                <span id="helpBlock2" class="help-block">
                    @Html.ValidationMessageFor(m => m.Diagnosticado)
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Salvar" />
        @Html.ActionLink("Cancelar", "PrincipalExame", new { area = "Admin", Controller = "Cadastro" }, new { @class = "btn btn-danger" })
    </div>
}