@model List<PlataformaIEB.Models.Paciente>
@{
    ViewBag.Title = "Cadastro de Paciente";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row text-right">
    @Html.ActionLink("Cadastrar Paciente", "CadPaciente", "Cadastro", new { @class = "btn btn-success" })
</div>
<div class="row">
    
    <div class="col-lg-offset-1">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Sexo</th>
                    <th>Email</th>                    
                    <th>Responsavel</th>
                </tr>
            </thead>

                @foreach (var paciente in Model)
                {
                    <tr>
                    <td>@paciente.Nome</td>
                    <td>@paciente.Nascimento</td>
                    <td>@paciente.Sexo</td>
                    <td>@paciente.Email</td>
                    <td>@paciente.Responsavel</td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Editar", "EditPaciente/" + @paciente.Id, new { area = "Admin", Controller = "Cadastro" }, new { @class = "btn btn-danger" })
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Editar", "EditPaciente/" + @paciente.Id, new { area = "Admin", Controller = "Cadastro" })</li>
                                <li><a href="#">Medicos Relacionados</a></li>
                                <li><a href="#">Exames Feitos</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                }

        </table>
    </div>

</div>