@model PlataformaIEB.Areas.RestritoMedico.Models.VMTriagem
@{
    ViewBag.Title = "Triagem";
}

<h2>CadTriagem</h2>

<div class="row">
    <div class="col-md-offset-1">
        @using (Html.BeginForm())
        {

            <div class="row">
                <div class="col col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Data)
                        @Html.EditorFor(m => m.Data, new { @class = "form-control" })
                        <span id="helpBlock2" class="help-block">
                            @Html.ValidationMessageFor(m => m.Data)
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Pacientes)
                @Html.DropDownListFor(m => m.IDPaciente, (Model.Pacientes).Select(op => new SelectListItem
           {
               Text = op.Nome,
               Value = op.Id.ToString(),
               Selected = (Model != null) && (op.Id == Model.IDPaciente)
           }), "Selecione o paciente ...", new { @class = "form-control" })
                <span id="helpBlock2" class="help-block">
                    @Html.ValidationMessageFor(m => m.IDPaciente)
                </span>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Peso)
                @Html.EditorFor(m => m.Peso, new { @class = "form-control" })
                <span id="helpBlock2" class="help-block">
                    @Html.ValidationMessageFor(m => m.Peso)
                </span>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Altura)
                @Html.EditorFor(m => m.Altura, new { @class = "form-control" })
                <span id="helpBlock2" class="help-block">
                    @Html.ValidationMessageFor(m => m.Altura)
                </span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Salvar" />
            </div>
        }
    </div>

    @Html.ActionLink("Adicionar Exames Clínicos", "Clinico/" + Model.IDPaciente, new { area = "Medico", Controller = "Cadastro" }, new { @class = "btn btn-success" })
</div>


