@model PlataformaIEB.Models.VMConsulta

<head>
    <meta name="viewport" content="width=device-width" />

</head>

@{
    ViewBag.Title = "Cadastro de Médicos";
    switch (Request.Cookies["CookieTipo"].Value)
    {
        case "ADMIN":
            Layout = "~/Views/Shared/_LayoutADM.cshtml";
            break;

        case "Medico":
            Layout = "~/Views/Shared/_LayoutMED.cshtml";
            break;

        case "Pesquisador":
            Layout = "~/Views/Shared/_LayoutPES.cshtml";
            break;

        case "Paciente":
            Layout = "~/Views/Shared/_LayoutPAC.cshtml";
            break;
    }
}

<div class="jumbotron-fluid">
    <div class="card">
        <div class="card-header"><h3>Consulta</h3></div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.Usuario.Id)

                <div class="form-group">
                    @Html.LabelFor(m => m.Pacientes)
                    @Html.DropDownListFor(m => m.Nome, new SelectList(Model.Pacientes), "Selecione o paciente ...", new { @class = "form-control" })
                    <span id="helpBlock2" class="help-block">
                        @Html.ValidationMessageFor(m => m.Nome)
                    </span>
                </div>
                @Html.Label("Variáveis")
                <div class="row">
                    @Html.ActionLink("Clique aqui para adicionar campos de registro (variáveis)", "Base", "Especialista", new { area = "" }, new { @class = "nav-link" })
                </div>
                <div class="card card-body">

                    <div class="form-group">
                        <div class="col">
                            @Html.EditorFor(model => model.Valores, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Valores, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col">
                        <textarea class="form-control" id="Observacao" name="Observacao" rows="5" style="min-width:100%"></textarea>
                            @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <input type="submit" value="Salvar" class="btn btn-outline-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

